*.pyc
*.pyo
/*.patch
build*/
pyshtables.py
pstage/
sources/
*.swp
*.orig
*.rej
*~
documentation/user-manual/user-manual.html
documentation/user-manual/user-manual.pdf
documentation/user-manual/user-manual.tgz
pull-*/
