MACHINE ?= "UNASSIGNED"

DISTRO ?= "ampliphy"

########################
# Global configuration #
########################

# That are the default values of bitbake.  Adapt these to your workspace and
# host preferences.
#DL_DIR = "${TOPDIR}/downloads"
#SSTATE_DIR = "${TOPDIR}/sstate-cache"

# License Handling
#  - Uncomment for Freescale i.MX6 VPU firmware blobs
#LICENSE_FLAGS_ACCEPTED += "license-freescale_v12-march-2016_firmware-imx"

# build artifacts are deployed here,
# separate by ${DISTRO} postfix for building multiple distros in the same TOPDIR
TMPDIR = "${TOPDIR}/tmp-${DISTRO}"
DEPLOY_DIR = "${TOPDIR}/deploy-${DISTRO}"
TI_COMMON_DEPLOY = "${DEPLOY_DIR}"

# Sharing a deploy directory in a multiconfig setup leads to
# build errors as poky started to restrict deployment of identical
# license files. Split licenses directory into subdirectories in
# a multiconfig environment for native packages.
LICENSE_DIRECTORY:class-native = "${DEPLOY_DIR}/licenses/${BB_CURRENT_MC}"
# Same situation with SPDX files
DEPLOY_DIR_SPDX = "${DEPLOY_DIR}/spdx/${BB_CURRENT_MC}/${SPDX_VERSION}"

# enable bitbakes git shallow functionality: this reduces download volume
# from 7.3G to 1.6 G as of sumo. If you need the git history of a project,
# you can run a "git remote update" in the tmp dir, as the remotes are
# correctly specified
BB_GIT_SHALLOW = "1"

# Select configuration UI for linux and barebox recipe. The openembedded
# default is 'menuconfig', 'nconfig' has more features.
# busybox only supports menuconfig
#KCONFIG_CONFIG_COMMAND = "menuconfig"
KCONFIG_CONFIG_COMMAND = "nconfig"
KCONFIG_CONFIG_COMMAND:pn-busybox = "menuconfig"

# SDK will be build for that cpu
#SDKMACHINE ?= "x86_64"

# Log information on images and packages
#INHERIT += "buildhistory"
#INHERIT += "buildstats"

#run QA tests on recipes
#INHERIT += "recipe_sanity"

# bitbake disk monitor setup
BB_DISKMON_DIRS ??= "\
    STOPTASKS,${TMPDIR},1G,100K \
    STOPTASKS,${DL_DIR},1G,100K \
    STOPTASKS,${SSTATE_DIR},1G,100K \
    STOPTASKS,/tmp,100M,100K \
    HALT,${TMPDIR},100M,1K \
    HALT,${DL_DIR},100M,1K \
    HALT,${SSTATE_DIR},100M,1K \
    HALT,/tmp,10M,1K"

#######################
# Image configuration #
#######################

# You can disable and enable FSTYPES as you wish. e.g. 'ext4'.
# This variable is ordering dependend.
#IMAGE_FSTYPES = "tar.gz wic ubifs emmc"

# To change the variable for any imx8 machine:
#IMAGE_FSTYPES:mx8-generic-bsp = "tar.gz wic.xz wic.bmap"

# By default both the partup package and wic images are build. Disable one of
# them to save space.
# Disable partup package build
# IMAGE_FSTYPES:remove = "partup"

# Disable wic image build
# IMAGE_FSTYPES:remove = "wic wic.bmap wic.xz"

# Turn on debugging options of the kernel
#DEBUG_BUILD:pn-linux-phytec = "1"
# Turn on debugging options of the imx8/imx9 kernel
#DEBUG_BUILD:pn-linux-phytec-imx = "1"
## Turn on debugging options of the imx7 kernel
#DEBUG_BUILD:pn-linux-imx = "1"
# Turn on debugging options of the barebox
#DEBUG_BUILD:pn-barebox = "1"

# Include kernel sources in SDK
TOOLCHAIN_TARGET_TASK:append = " make kernel-devsrc"

# The default package class of the distro ampliphy is 'package_ipk'. The first
# value is used as the package manager to build the image and sdk. To build
# also tar packages use
#PACKAGE_CLASSES = "package_ipk package_tar"

# Variable IMAGE_ROOTFS_EXTRA_SPACE from poky/meta/conf/documentation.conf:
#   Defines additional free disk space created in the image in Kbytes. By
#   default, this variable is set to '0'.
# This example line adds an additional 512 MiB of free space to the root
# filesystem:
#IMAGE_ROOTFS_EXTRA_SPACE = "524288"

# See https://docs.yoctoproject.org/ref-manual/features.html#image-features
#   "Through these variables, you can add several different predefined
#    packages such as development utilities or packages with debug information
#    needed to investigate application problems or profile applications
EXTRA_IMAGE_FEATURES = ""
# - "Makes an image suitable for development (e.g. allows root logins without
#    passwords and enables post-installation logging)"
EXTRA_IMAGE_FEATURES += "allow-empty-password empty-root-password allow-root-login post-install-logging"
# - "Installs debug symbol packages for all packages installed in a given
#    image."
#EXTRA_IMAGE_FEATURES += "dbg-pkgs"
# - "Installs debugging tools such as strace and gdb."
#EXTRA_IMAGE_FEATURES += "tools-debug"

######################
# RAUC configuration #
######################

# certificate location for signing bundles
#CERT_PATH = "${TOPDIR}/../sources/meta-ampliphy/openssl-ca"

##########################
# Security configuration #
##########################

# Keys for signing TI K3 products
BOOTLOADER_TI_K3_MPK_KEY ?= "${CERT_PATH}/ti_k3/keys/phytecSMPK.pem"
BOOTLOADER_TI_K3_DEGENERATE_KEY ?= "${CERT_PATH}/ti_k3/keys/ti-degenerate-key.pem"

####################
# QT configuration #
####################

# The following line disables the autostart of the phytec-qtdemo by
# default, but you can start the demo anytime using
#  $ systemctl start phytec-qtdemo.service
#SYSTEMD_AUTO_ENABLE:pn-phytec-qtdemo = "disable"

# We disable qt widgets per default to save about 10 MB of storage. If
# you need qt widget support, you can enable it with this line
#DISTRO_FEATURES:append = " qtwidgets"

CONF_VERSION = "2"

# Uncomment to accept NXP EULA (needed, if any NXP / freescale layer is used)
# EULA can then be found under ../sources/meta-freescale/EULA
#ACCEPT_FSL_EULA = "1"

# A TISDK BSP requires per default an external toolchain
# Provide a default path that is compatible to our TISDK docker image
TOOLCHAIN_BASE ?= "/opt/PHYTEC_BSPs"
