KERNEL!="sd[a-z][0-9]", GOTO="media_by_label_auto_mount_end"  
# Import FS infos  
#IMPORT{program}="/sbin/blkid -o udev -p %N"  
# Get a label if present, otherwise specify one  
#ENV{ID_FS_LABEL}!="", ENV{dir_name}="%E{ID_FS_LABEL}"  
#ENV{ID_FS_LABEL}=="", ENV{dir_name}="%k"  
# Trigger systemd service


ACTION=="add", TAG+="systemd", ENV{SYSTEMD_WANTS}="update-usb@%k.service"


# Exit  
LABEL="media_by_label_auto_mount_end"

#ACTION=="add", KERNEL=="sd?1", SUBSYSTEMS="usb", ATTRS{idProduct}=="6387", ATTRS{idVendor}=="058f", SYMLINK+="update-usb-stick" TAG+="systemd", ENV{SYSTEMD_WANTS}="update-usb.service /dev/update-usb-stick"
