BSP_VERSION = "UNASSIGNED"
MACHINE ?= "UNASSIGNED"
#DISTRO = "poky"
DISTRO = "yogurt"
#MACHINE = "phyflex-am335x-1"
#MACHINE = "phyboard-wega-am335x-1"
#MACHINE = "phycore-am335x-2"
#IMAGE_INSTALL_append = " task-native-sdk"
#NO_RECOMMENDATIONS_pn-phytec-qt4demo-image = "1"
#NO_RECOMMENDATIONS = "1"
#IMAGE_INSTALL_append = " mpg123"
#PACKAGECONFIG_pn-mpg123 = "alsa"
#LICENSE_FLAGS_WHITELIST = "commercial"

#TI commercial driver options
#LICENSE_FLAGS_WHITELIST = "commercial_ti_tspa"
#DISTRO_FEATURES_remove = "x11 wayland"

#INHERIT += "externalsrc"
##
#EXTERNALSRC_pn-linux-ti = "${HOME}/linux-ti"
#EXTERNALSRC_BUILD_pn-linux-ti = "${HOME}/linux-ti"
#SRCTREECOVEREDTASKS_pn-linux-ti = "do_prepare_configure do_configure do_patch do_unpack do_fetch"
#PV_pn-linux-ti = "${LINUX_VERSION}"
##
#EXTERNALSRC_pn-barebox = "${HOME}/barebox"
#EXTERNALSRC_BUILD_pn-barebox = "${HOME}/barebox"
#SRCTREECOVEREDTASKS_pn-barebox = "do_prepare_configure do_prepare_env do_configure do_patch do_unpack do_fetch"
#PV_pn-barebox = "${BRANCH}"

#this is ordering dependend
IMAGE_FSTYPES += "sdcard"
IMAGE_FSTYPES += "tar.gz"
IMAGE_FSTYPES += "ubifs"

DEPLOY_DIR = "${TOPDIR}/deploy"
SDKMACHINE ?= "x86_64"
EXTRA_IMAGE_FEATURES = "debug-tweaks"
#TEST_IMAGE = "1"
OE_TERMINAL = "auto"
PATCHRESOLVE = "noop"
BB_DISKMON_DIRS = "\
    STOPTASKS,${TMPDIR},1G,100K \
    STOPTASKS,${DL_DIR},1G,100K \
    STOPTASKS,${SSTATE_DIR},1G,100K \
    ABORT,${TMPDIR},100M,1K \
    ABORT,${DL_DIR},100M,1K \
    ABORT,${SSTATE_DIR},100M,1K" 
#SSTATE_MIRRORS ?= "\
#file://.* http://someserver.tld/share/sstate/PATH;downloadfilename=PATH \n \
#file://.* file:///some/local/dir/sstate/PATH"

#PACKAGECONFIG_append_pn-qemu-native = " sdl"
#PACKAGECONFIG_append_pn-nativesdk-qemu = " sdl"
#ASSUME_PROVIDED += "libsdl-native"

CONF_VERSION = "1"
#CCACHE = "ccache"
#INHERIT += "ccache"
#CCACHE_DIR = "/home/${USER}/.ccache"
#CCACHE_DISABLE = "0"
