header:
  version: 2

local_conf_header:
  ti-deploy-settings: |
    # Use a single deploy directory in a multiconfig environment
    DEPLOY_DIR = "${TOPDIR}/deploy"
    DEPLOY_DIR_IMAGE:ti-soc = "${DEPLOY_DIR}/images/${MACHINE}"
    TI_COMMON_DEPLOY = "${DEPLOY_DIR}"

    # Sharing a deploy directory in a multiconfig setup leads to
    # build errors as poky started to restrict deployment of identical
    # license files. Split licenses directory into subdirectories in
    # a multiconfig environment for native packages.
    LICENSE_DIRECTORY:class-native = "${DEPLOY_DIR}/licenses/${BB_CURRENT_MC}"
    # Same situation with SPDX files
    DEPLOY_DIR_SPDX = "${DEPLOY_DIR}/spdx/${BB_CURRENT_MC}/${SPDX_VERSION}"
